{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>This is a project that involve´s the usage of RESTful API's where you can add, edit and delete posts.</p>
        <p>The objective of this is to show how API's works and how can I, as programmer, make a correct use of them.</p>
        <p>Nevertheless, I hope you find this project as attractive as I do. Enjoy it!</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}